.login-background {
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
  .login-container {
    width: 400px;
    /* height: 100%; */
    /* margin: 0 auto; */
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 490px;

    .login-content {
      padding: 10px;
      .tex-login {
        font-size: 24px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
      }
      .login-input {
        margin: 14px 0;
        .custom-input-password {
          position: relative;
          i {
            position: absolute;
            right: 7px;
            top: 10px;
            cursor: pointer;
          }
        }
      }
      .btn-login {
        color: #fff;
        width: 100%;
        height: 30px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0;
        border-radius: 50px;
        background: linear-gradient(
          135deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
      }
      .forgot-password {
        font-size: 12px;
      }
      .social-login {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 10px;

        .google {
          background-color: #eb5252;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          justify-content: center;
          align-items: center;
          display: flex;
          color: #fff;
          font-size: 30px;
          margin-right: 6px;
        }
        .facebook {
          background-color: #0071ba;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          justify-content: center;
          align-items: center;
          display: flex;
          color: #fff;
          font-size: 30px;
        }
      }
    }
  }
}
